*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% = 10px of default 16px */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  padding: 1.6rem;
  width: 20%;
  background-color: hsl(0, 100%, 100%);
  border-radius: 18px;
  text-align: center;
  box-shadow: 8px 12px 20px 5px hsla(0, 0%, 0%, 0.05);
}

.img-box {
  border-radius: 14px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.text-box {
  padding: 2rem 1rem;
}

.heading-primary {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: hsl(218, 44%, 22%);
}

.description {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
}

@media (max-width: 544px) {
  .card {
    width: 90%;
  }

  .heading-primary {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .description {
    font-size: 1.3rem;
  }
}
